@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

body {
  /* background-color: #23353f; */
  font-family: "Titillium Web", sans-serif;
  color: #17a2b8;
  /* position: relative;
  z-index: 1; */
}
svg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(
    to bottom,
    rgba(14, 65, 102, 0.86),
    #0e4166
  );
}
.shad {
  box-shadow: 2px 2px 30px 15px rgb(0 0 0 / 24%) !important;
}
h1 {
  font-size: 48px;
  font-weight: bold;
}
::placeholder {
  color: white !important;
  opacity: 0.75 !important;
}
.login {
  text-decoration: none;
  border-color: #17a2b8;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.login:hover {
  background-color: #17a2b8 !important;
  color: white !important;
  cursor: pointer;
}

/* home page */

.home nav {
  box-shadow: 0px 13px 28px 15px rgb(0 0 0 / 24%);
}
.home .text {
  box-shadow: 2px 2px 30px 20px rgb(0 0 0 / 24%) !important;
}
.home .logout {
  border-color: #17a2b8;
  padding: 7px 20px !important;
}
.home .logout:hover {
  color: white;
  background-color: #17a2b8;
  opacity: 1 !important;
}
.home button:not(:disabled) {
  border-color: white !important;
}
.home .navbar-toggler:focus {
  box-shadow: none;
}